* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    overflow: hidden;
    font-family: "Jost", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(75, 0, 100, 0.6);
}

body * {
    z-index: 10;
}

.loading-text {
    font-size: 2.5em;
}

.container {
    margin-top: 2rem;
    display: none;
    flex-direction: row;
}

.time-block {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    font-weight: 800;
}

h1 {
    font-size: 5em;
    color: #ffbf10;
}

h2 {
    font-size: 8em;
}

small {
    font-size: 1.75em;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.countdown-title-top {
    font-size: 2em;
}

@media screen and (max-width: 1100px) {
    h2 {
        font-size: 4em;
    }

    .time-block {
        margin: 0 1.25rem;
    }
}

@media screen and (max-width: 775px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 3.5em;
    }

    small {
        font-size: 1em;
    }

    .countdown-title-top {
        font-size: 1.25em;
    }

    .container {
        margin-top: 1rem;
        flex-direction: column;
    }

    .time-block {
        margin: 0.5rem 0;
    }
}
